@using QuanLyKyTucXa.Models
@model Khu
@{
    ViewBag.Title = "Cập Nhật Khu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    IEnumerable<LoaiKhu> listLoaiKhu = ViewBag.LoaiKhu as IEnumerable<LoaiKhu>;
}

<div class="page-body">
    <!-- #region Tiêu đề -->
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>
                        Quản Lý Khu
                    </h4>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/Admin/Home/Index">
                                <svg class="stroke-icon">
                                    <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Trang Chủ </li>
                        <li class="breadcrumb-item active">Quản Lý Khu</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion Tiêu đề -->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Khu</h4>
                        <p class="f-m-light mt-1">
                            Là các khu được phân bổ theo nhóm người ở Nam/Nữ riêng biệt
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="card-wrapper border rounded-3">
                            @using (Html.BeginForm("CapNhat", "Khu", FormMethod.Post, new { @class = "row g-3" }))
                            {
                                <div class="col-md-12">
                                    <label class="form-label" for="MaKhu">Mã khu <span class="text-danger">*</span></label>
                                    <input class="form-control" name="MaKhu" type="text" value="@Model.MaKhu" readonly>
                                </div>
                                <div class="col-md-12">
                                    <label class="form-label" for="TenKhu">Tên Khu <span class="text-danger">*</span></label>
                                    <input class="form-control" name="TenKhu" type="text" value="@Model.TenKhu" required>
                                </div>
                                <div class="col-md-12">
                                    <label class="form-label">Loại Khu</label>
                                    <select id="MaLoaiKhu" name="MaLoaiKhu" class="form-select" required>
                                        @foreach (var item in listLoaiKhu)
                                        {
                                            <option value="@item.MaLoaiKhu"
                                                    @((item.MaLoaiKhu == Model.MaLoaiKhu) ? "selected" : "")>
                                                @item.TenLoaiKhu
                                            </option>

                                        }
                                    </select>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary" type="submit">Thêm Mới </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

