@using QuanLyKyTucXa.Models
@using QuanLyKyTucXa.Common.Const
@model Phong

@{
    ViewBag.Title = "Xem chi tiết phòng";
    Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml";
}

@{
    IEnumerable<LoaiKhu> listLoaiKhu = ViewBag.listLoaiKhu as IEnumerable<LoaiKhu>;
    IEnumerable<Khu> listKhu = ViewBag.listKhu as IEnumerable<Khu>;
    IEnumerable<Tang> listTang = ViewBag.listTang as IEnumerable<Tang>;
    IEnumerable<LoaiPhong> listLoaiPhong = ViewBag.listLoaiPhong as IEnumerable<LoaiPhong>;

}
<div>
    <!-- Inner Banner Start -->
    <div class="at-haslayout at-innerbannerholder">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-12">
                    <div class="at-innerbannercontent">
                        <div class="at-title"><h2>Chi Tiết Phòng</h2></div>
                        <ol class="at-breadcrumb">
                            <li><a href="~/Student/Home/Index">Trang Chủ</a></li>
                            <li>Kết quả xem chi tiết phòng</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Inner Banner End -->
    <!-- Inner Banner Start -->
    <div class="at-innerbanner-holder at-haslayout at-innerbannersearch">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="at-innerbanner-search">
                        @using (Html.BeginForm("TraCuuPhong", "Phong", FormMethod.Post, new { @class = "at-formtheme at-form-advancedsearch" }))
                        {
                            <fieldset>
                                @if (listLoaiKhu != null && listLoaiKhu.Any())
                                {
                                    <div class="form-group">
                                        <div class="at-select">
                                            <select id="loaiKhu" name="MaLoaiKhu" class="form-control">
                                                <option value="">-- Chọn Loại Khu --</option>
                                                @foreach (var loaikhu in ViewBag.listLoaiKhu)
                                                {
                                                    <option value="@loaikhu.MaLoaiKhu">@loaikhu.TenLoaiKhu</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                }
                                @if (listKhu != null && listKhu.Any())
                                {
                                    <div class="form-group">

                                        <div class="at-select">
                                            <select id="khu" name="MaKhu" class="form-control">
                                                <option value="">-- Chọn Khu --</option>
                                            </select>
                                        </div>
                                    </div>
                                }
                                @if (listTang != null && listTang.Any())
                                {
                                    <div class="form-group">

                                        <div class="at-select">
                                            <select id="tang" name="MaTang" class="form-control">
                                                <option value="">-- Chọn Tầng --</option>
                                            </select>
                                        </div>
                                    </div>
                                }
                                <div class="at-btnarea">
                                    <button type="submit" class="at-btn">Tìm Kiếm</button>
                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Home Slider End -->

    <main id="at-main" class="at-main at-haslayout">
        <!-- Two Columns Start -->
        <div class="at-haslayout at-main-section at-propertysingle-mt">
            <div class="container">
                <div class="row">
                    <div id="at-twocolumns" class="at-twocolumns at-haslayout">
                        <div id="left-menu-container"></div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-8 float-left">
                            <div class="at-gridlist-option at-option-mt">
                                <a href="javascript:void(0);" id="at-btnopenclose" class="at-btnopenclose"><i class="ti-settings"></i></a>
                            </div>
                            <div class="at-propertylinkdetails at-haslayout">
                                <ul class="at-propertylink">
                                    <li><a href="#at-thongtin">Thông Tin Phòng</a></li>
                                    <li><a href="#at-dichvu">Dịch Vụ</a></li>
                                    <li><a href="#at-locationsproperty">Giường</a></li>
                                </ul>

                                <div id="at-thongtin" class="at-propertydetails at-detailsproperty">
                                    <div class="at-propertytitle">
                                        <h3>Thông Tin Phòng</h3>
                                    </div>
                                    <ul class="at-detailslisting">
                                        <li><h4>Mã Phòng</h4><span>@Model.MaPhong</span></li>
                                        <li><h4>Tên Phòng</h4><span>@Model.TenPhong</span></li>
                                        <li><h4>Số Lượng Giường</h4><span>@(Model.DaO + Model.ConTrong)</span></li>
                                        <li><h4>Đã Ở</h4><span>@Model.DaO</span></li>
                                        <li><h4>Còn Trống</h4><span>@Model.ConTrong</span></li>
                                        <li><h4>Giá Thuê</h4><span>@Model.GiaThue.ToString("#,##0") vnđ</span></li>
                                        <li><h4>Loại Phòng</h4><span>@Model.LoaiPhong.TenLoaiPhong</span></li>
                                        <li><h4>Tầng</h4><span>@Model.Tang.TenTang</span></li>
                                        <li><h4>Khu</h4><span>@Model.Tang.Khu.TenKhu</span></li>
                                        <li><h4>Loại</h4><span>@Model.Tang.Khu.LoaiKhu.TenLoaiKhu</span></li>
                                    </ul>
                                </div>
                                <div id="at-dichvu" class="at-propertydetails at-aboutproperty">
                                    <div class="at-propertytitle">
                                        <h3>Dịch Vụ</h3>
                                    </div>
                                    <div class="at-description">
                                        @if (Model.DichVuPhong.Count > 0)
                                        {
                                            foreach (var dichvu in Model.DichVuPhong)
                                            {
                                                var isLast = dichvu == Model.DichVuPhong.Last();
                                                <span>@dichvu.DichVu.TenDichVu@(isLast ? "" : ", ")</span>
                                            }
                                        }
                                    </div>
                                </div>

                                <div id="at-locationsproperty" class="at-propertydetails at-locationsproperty">
                                    <div class="at-propertytitle">
                                        <h3>Giường</h3>
                                    </div>
                                    <div class="at-description">
                                        <p>Thông tin giường của phòng @Model.TenPhong</p>
                                    </div>

                                    <div id="at-nearbylocations-holder" class="at-nearbylocations-holder" data-readmore="" aria-expanded="false" style="max-height: none; height: 556px;">
                                        <div class="at-nearbylocations">
                                            <ul class="list-unstyled" style="padding-left: 0;">
                                                @if (Model.Giuong.Count > 0)
                                                {
                                                    foreach (var giuong in Model.Giuong)
                                                    {
                                                        <li class="d-flex align-items-center mb-2">
                                                            @if (Constant.GiuongTrong.Equals(giuong.TrangThai))
                                                            {
                                                                <input type="radio" name="GiuongChon" value="@giuong.MaGiuong" id="giuong_@giuong.MaGiuong" class="form-check-input me-2" />
                                                                <label for="giuong_@giuong.MaGiuong" class="d-flex align-items-center mb-0">
                                                                    <img src="~/Assets/Student/images/AnhGiuong/Giuong_Trong.png" alt="Giường trống" class="me-2" style="width: 20px; height: 20px;" />
                                                                    <span>&nbsp; @giuong.TenGiuong - Trống</span>
                                                                </label>
                                                            }
                                                            else if (Constant.ChoXacNhan.Equals(giuong.TrangThai))
                                                            {
                                                                <img src="~/Assets/Student/images/AnhGiuong/Giuong_ChoXacNhan.png" alt="Chờ xác nhận" class="me-2" style="width: 20px; height: 20px;" />
                                                                <span>&nbsp; @giuong.TenGiuong - Chờ Xác Nhận</span>
                                                            }
                                                            else
                                                            {
                                                                <img src="~/Assets/Student/images/AnhGiuong/Giuong_DaO.png" alt="Đã đăng ký" class="me-2" style="width: 20px; height: 20px;" />
                                                                <span>&nbsp; @giuong.TenGiuong - Đã Đăng Ký</span>
                                                            }
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                            <div class="mb-3 row">
                                                <label class="col-md-3 col-form-label">Date</label>
                                                <div class="col-md-9">
                                                    <input class="form-control digits" type="date" value="2024-05-01">
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label class="col-md-3 col-form-label">Date</label>
                                                <div class="col-md-9">
                                                    <input class="form-control digits" type="date" value="2024-05-01">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="at-btnarea">
                                    <a href="javascript:void(0)" class="at-btn at-btnactive">Đăng Ký</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

