@using QuanLyKyTucXa.Models
@model IEnumerable<Phong>

@{
    ViewBag.Title = "Tra Cứu Phòng Nâng Cao";
    Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml";
}

@{
    IEnumerable<LoaiKhu> listLoaiKhu = ViewBag.listLoaiKhu as IEnumerable<LoaiKhu>;
    IEnumerable<Khu> listKhu = ViewBag.listKhu as IEnumerable<Khu>;
    IEnumerable<Tang> listTang = ViewBag.listTang as IEnumerable<Tang>;
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>

<div>
    <!-- Inner Banner Start -->
    <div class="at-haslayout at-innerbannerholder">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-12">
                    <div class="at-innerbannercontent">
                        <div class="at-title"><h2>Tra Cứu Phòng</h2></div>
                        <ol class="at-breadcrumb">
                            <li><a href="~/Student/Home/Index">Trang Chủ</a></li>
                            <li>Kết quả tra cứu phòng</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Inner Banner End -->
    <!-- Inner Banner Start -->
    <div class="at-innerbanner-holder at-haslayout at-innerbannersearch">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="at-innerbanner-search">
                        @using (Html.BeginForm("TraCuuPhong", "Phong", FormMethod.Post, new { @class = "at-formtheme at-form-advancedsearch" }))
                        {
                            <fieldset>
                                @if (listLoaiKhu != null && listLoaiKhu.Any())
                                {
                                    <div class="form-group">
                                        <div class="at-select">
                                            <select id="loaiKhu" name="MaLoaiKhu" class="form-control">
                                                <option value="">-- Chọn Loại Khu --</option>
                                                @foreach (var loaikhu in ViewBag.listLoaiKhu)
                                                {
                                                    <option value="@loaikhu.MaLoaiKhu">@loaikhu.TenLoaiKhu</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                }
                                @if (listKhu != null && listKhu.Any())
                                {
                                    <div class="form-group">

                                        <div class="at-select">
                                            <select id="khu" name="MaKhu" class="form-control">
                                                <option value="">-- Chọn Khu --</option>
                                                <!-- Options will be dynamically populated by JavaScript -->
                                            </select>
                                        </div>
                                    </div>
                                }
                                @if (listTang != null && listTang.Any())
                                {
                                    <div class="form-group">

                                        <div class="at-select">
                                            <select id="tang" name="MaTang" class="form-control">
                                                <option value="">-- Chọn Tầng --</option>
                                                <!-- Options will be dynamically populated by JavaScript -->
                                            </select>
                                        </div>
                                    </div>
                                }
                                <div class="at-btnarea">
                                    <button type="submit" class="at-btn">Tìm Kiếm</button>
                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Home Slider End -->
    <!-- Main Start -->
    <main id="at-main" class="at-main at-haslayout">
        <!-- Two Columns Start -->
        <div class="at-haslayout at-main-section">
            <div class="container">
                <div class="row">
                    <div id="at-twocolumns" class="at-twocolumns at-haslayout">
                        <!-- #region Menu phải -->
                        <div id="left-menu-container"></div>
                        <!-- #endregion Menu phải -->
                        <!-- #region Nội dung -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-8 float-left">
                            <!-- Properties List Start -->
                            <div class="at-showresult-holder">
                                <div class="at-resulttitle">
                                    <span>
                                        Loại: <strong> @ViewBag.TenLoaiKhu</strong>
                                        Khu: <strong> @ViewBag.TenKhu</strong>
                                        Tầng: <strong> @ViewBag.TenTang</strong>
                                        Phòng: <strong> @ViewBag.TenLoaiPhong</strong>
                                    </span>
                                </div>
                                <div class="at-resulttitle">
                                    <div>
                                        <strong style="color: #f7395a">&nbsp; => Tìm thấy: @ViewBag.KetQua phòng</strong>
                                    </div>
                                </div>
                                <div class="at-rightarea">
                                    <div class="at-select">
                                        <select>
                                            <option value="Sort By:" hidden="">Sắp xếp theo:</option>
                                            <option value="Sort By:">Giá phòng tăng dần</option>
                                            <option value="Sort By:">Giá phòng giảm dần</option>
                                            <option value="Sort By:">Giá phòng giảm dần</option>
                                            <option value="Sort By:">Giá phòng giảm dần</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="at-properties-listing">
                                @foreach (var item in Model)
                                {
                                    <div class="at-featured-holder">
                                        <div class="at-featuredslider owl-carousel">
                                            <figure class="item">
                                                <a href="/Student/Phong/ChiTietPhong?iMaPhong=@item.MaPhong">
                                                    <img src="~/Assets/Student/images/featured-img/listing/@item.LoaiPhong.HinhAnh" alt="Hình ảnh phòng">
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="at-featured-content">
                                            <div class="at-featured-head">
                                                <div class="at-featured-tags"><a href="javascript:void(0);">@item.Tang.Khu.LoaiKhu.TenLoaiKhu</a> </div>
                                                <div class="at-featured-title">
                                                    <h3>
                                                        <a href="/Student/Phong/ChiTietPhong?iMaPhong=@item.MaPhong">@item.TenPhong</a>
                                                        <span>@string.Format("{0:0,0}", item.GiaThue) vnđ</span>
                                                    </h3>
                                                </div>
                                                <ul class="at-room-featured">
                                                    <li><span><i><img src="~/Assets/Student/images/AnhIconDichVu/img-01.jpg" alt="img description"></i> @item.LoaiPhong.TenLoaiPhong</span></li>
                                                    <li><span><i><img src="~/Assets/Student/images/AnhIconDichVu/img-02.jpg" alt="img description"></i> @item.ConTrong Giường trống</span></li>
                                                    <li><span><i><img src="~/Assets/Student/images/AnhIconDichVu/img-tang.png" alt="img description"></i> @item.Tang.TenTang</span></li>
                                                    <li><span><i><img src="~/Assets/Student/images/AnhIconDichVu/img-khu.png" alt="img description"></i> @item.Tang.Khu.TenKhu</span></li>
                                                </ul>
                                            </div>
                                            <div class="at-featured-footer">
                                                @if (item.DichVuPhong.Count > 0)
                                                {
                                                    <address>
                                                        Dịch vụ:
                                                        @foreach (var dichvu in item.DichVuPhong)
                                                        {
                                                            var isLast = dichvu == item.DichVuPhong.Last();
                                                            <span>@dichvu.DichVu.TenDichVu@(isLast ? "" : ", ")</span>
                                                        }
                                                    </address>
                                                }
                                                <div class="at-share-holder">
                                                    <a href="javascript:void(0);"><i class="ti-more-alt"></i></a>
                                                    <div class="at-share-option">
                                                        <span>Chia sẽ:</span>
                                                        <ul class="at-socialicons">
                                                            <li class="at-facebook"><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                                                            <li class="at-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                                                            <li class="at-youtube"><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
                                                            <li class="at-instagram"><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                                        </ul>
                                                        <a href="javascript:void(0);">Đăng ký</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <nav class="at-pagination">
                                    <ul>
                                        <li class="at-prevpage"><a href="javascrip:void(0);"><i class="ti-angle-left"></i></a></li>
                                        <li class="at-active"><a href="javascrip:void(0);">1</a></li>
                                        <li><a href="javascrip:void(0);">2</a></li>
                                        <li><a href="javascrip:void(0);">3</a></li>
                                        <li><a href="javascrip:void(0);">4</a></li>
                                        <li><a href="javascrip:void(0);">...</a></li>
                                        <li><a href="javascrip:void(0);">50</a></li>
                                        <li class="at-nextpage"><a href="javascrip:void(0);"><i class="ti-angle-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- Properties List End -->
                        </div>
                        <!-- #endregion End mội dung -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Two Columns End -->
    </main>
    <!-- Main End -->
</div>

<script>
    var propertyList;

    window.onload = function () {
        // Initialize List.js after the page has loaded
        var options = {
            valueNames: ['tenPhong', 'giaThue', 'tenTang', 'tenKhu'],
            page: 2,
            pagination: true
        };
        propertyList = new List('phongList', options);
    };

    function sortPhongList() {
        if (!propertyList) {
            console.error("List is not initialized");
            return;  // Ensure the list is initialized before attempting to sort
        }

        var sortOrder = document.getElementById('sortOrder').value;
        var sortOptions = sortOrder.split('-');
        var sortBy = sortOptions[0];
        var sortDirection = sortOptions[1];

        // Ensure that the sortBy value corresponds to one of the 'valueNames' in List.js
        propertyList.sort(sortBy, { order: sortDirection === 'asc' ? 'asc' : 'desc' });
    }

</script>