@using QuanLyKyTucXa.Models

@model List<BaoCao>

@{
    ViewBag.Title = "Báo Cáo Của Bạn";
    Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml";
}

@{
    IEnumerable<LoaiKhu> listLoaiKhu = ViewBag.listLoaiKhu as IEnumerable<LoaiKhu>;
    IEnumerable<Khu> listKhu = ViewBag.listKhu as IEnumerable<Khu>;
    IEnumerable<Tang> listTang = ViewBag.listTang as IEnumerable<Tang>;
    IEnumerable<LoaiPhong> listLoaiPhong = ViewBag.listLoaiPhong as IEnumerable<LoaiPhong>;
    IEnumerable<ThoiHanDangKy> listLThoiHanDangKy = ViewBag.listThoiHanDangKy as IEnumerable<ThoiHanDangKy>;
}

<div>
    <!-- Inner Banner Start -->
    <div class="at-haslayout at-innerbannerholder">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-12">
                    <div class="at-innerbannercontent">
                        <div class="at-title"><h2>Báo Cáo</h2></div>
                        <ol class="at-breadcrumb">
                            <li><a href="~/Student/Home/Index">Trang Chủ</a></li>
                            <li>Báo Cáo Của Bạn</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Inner Banner End -->
    <!-- Inner Banner Start -->
    <div class="at-innerbanner-holder at-haslayout at-innerbannersearch">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="at-innerbanner-search">
                        @using (Html.BeginForm("TraCuuPhong", "Phong", FormMethod.Post, new { @class = "at-formtheme at-form-advancedsearch" }))
                        {
                            <fieldset>
                                @if (listLoaiKhu != null && listLoaiKhu.Any())
                                {
                                    <div class="form-group">
                                        <div class="at-select">
                                            <select id="loaiKhu" name="MaLoaiKhu" class="form-control">
                                                <option value="">-- Chọn Loại Khu --</option>
                                                @foreach (var loaikhu in ViewBag.listLoaiKhu)
                                                {
                                                    <option value="@loaikhu.MaLoaiKhu">@loaikhu.TenLoaiKhu</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                }
                                @if (listKhu != null && listKhu.Any())
                                {
                                    <div class="form-group">

                                        <div class="at-select">
                                            <select id="khu" name="MaKhu" class="form-control">
                                                <option value="">-- Chọn Khu --</option>
                                            </select>
                                        </div>
                                    </div>
                                }
                                @if (listTang != null && listTang.Any())
                                {
                                    <div class="form-group">

                                        <div class="at-select">
                                            <select id="tang" name="MaTang" class="form-control">
                                                <option value="">-- Chọn Tầng --</option>
                                            </select>
                                        </div>
                                    </div>
                                }
                                <div class="at-btnarea">
                                    <button type="submit" class="at-btn">Tìm Kiếm</button>
                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Home Slider End -->

    <main id="at-main" class="at-main at-haslayout">
        <!-- Two Columns Start -->
        <div class="at-haslayout at-main-section at-propertysingle-mt">
            <div class="container">
                <div class="row">
                    <div id="at-twocolumns" class="at-twocolumns at-haslayout">
                        <div id="left-menu-container"></div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-8 float-left">
                            <div class="at-gridlist-option at-option-mt">
                                <a href="javascript:void(0);" id="at-btnopenclose" class="at-btnopenclose"><i class="ti-settings"></i></a>
                            </div>
                            <div class="at-propertylinkdetails at-haslayout">
                                <div id="at-thongtin" class="at-propertydetails at-detailsproperty">
                                    <div class="at-propertytitle">
                                        <h3>Thông Tin Báo Cáo</h3>
                                    </div>
                                    <a class="btn btn-primary" href="/Student/BaoCao/ThemMoi">Thêm Mới</a>
                                    <br />
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Mã</th>
                                                <th>Ngày Gửi</th>
                                                <th>Xác nhận BQL</th>
                                                <th>Ngày Xác Nhận</th>
                                                <th>Loại Báo Cáo</th>
                                                <th>Thao Tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.MaBaoCao</td>
                                                    <td>@item.NgayGui.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                                    <td>@(item.TrangThai? "Đã xác nhận" : "Chờ xác nhận")</td>
                                                    <td>@(item.NgayXem != null ? item.NgayXem.Value.ToString("dd/MM/yyyy HH:mm:ss") : "")</td>
                                                    <td>@item.LoaiBaoCao.TenLoaiBaoCao</td>
                                                    <td>
                                                        <a href="/Student/BaoCao/CapNhat?iMaBaoCao=@item.MaBaoCao"><i class="fa fa-edit"></i></a>
                                                        @if (item.TrangThai)
                                                        {
                                                            <a href="/Student/BaoCao/Xoa?iMaBaoCao=@item.MaBaoCao"><i class="fa fa-trash"></i></a>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>




