@using QuanLyKyTucXa.Models

@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml";
}

@{
    IEnumerable<LoaiKhu> listLoaiKhu = ViewBag.listLoaiKhu as IEnumerable<LoaiKhu>;
    IEnumerable<Khu> listKhu = ViewBag.listKhu as IEnumerable<Khu>;
    IEnumerable<Tang> listTang = ViewBag.listTang as IEnumerable<Tang>;
    IEnumerable<LoaiPhong> listLoaiPhong = ViewBag.listLoaiPhong as IEnumerable<LoaiPhong>;
    IEnumerable<Phong> listPhong = ViewBag.listPhong as IEnumerable<Phong>;
}

<!-- Home Slider Start -->
<div id="at-homeslider-holder" class="at-homeslider-holder at-haslayout">
    <div class="at-homeslider">
        <div id="at-homeslidervone" class="at-homeslidervone owl-carousel">
            <figure class="item"><img src="~/Assets/Student/images/slider-imgs/img-01.jpg" alt="slider img"></figure>
            <figure class="item"><img src="~/Assets/Student/images/slider-imgs/img-02.jpg" alt="slider img"></figure>
            <figure class="item"><img src="~/Assets/Student/images/slider-imgs/img-05.jpg" alt="slider img"></figure>
            <figure class="item"><img src="~/Assets/Student/images/slider-imgs/img-08.jpg" alt="slider img"></figure>
        </div>
        <div id="at-homeslider-thumbnail" class="at-homeslider-thumbnail owl-carousel">
            <div class="item at-thumbnail-content">
                <h3><em>01.</em><span>Đăng Ký Theo Ngày</span>Ngày</h3>
                <a href="javascript:void(0);" class="at-btn at-btnactive">Đăng Ký Ngay</a>
            </div>
            <div class="item at-thumbnail-content">
                <h3><em>02.</em><span>Đăng Ký Theo Tháng</span>Tháng</h3>
                <a href="javascript:void(0);" class="at-btn at-btnactive">Đăng Ký Ngay</a>
            </div>
            <div class="item at-thumbnail-content">
                <h3><em>03.</em><span>Đăng Ký Theo Kỳ</span>Học Kỳ</h3>
                <a href="javascript:void(0);" class="at-btn at-btnactive">Đăng Ký Ngay</a>
            </div>
            <div class="item at-thumbnail-content">
                <h3><em>04.</em><span>Đăng Ký Theo Năm</span>Năm</h3>
                <a href="javascript:void(0);" class="at-btn at-btnactive">Đăng Ký Ngay</a>
            </div>
        </div>
    </div>
    <div class="at-home-banner at-home-bannervone at-haslayout">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="at-slider-content">
                        <div class="at-title">
                            <h2><span>Tra cứu</span>Phòng kí túc xá</h2>
                        </div>

                        <!-- #region Tìm kiếm cơ bản -->
                        @using (Html.BeginForm("TraCuuPhong", "Phong", FormMethod.Post, new { @class = "at-formtheme at-formbanner" }))
                        {
                            <fieldset class="at-datetime">
                                @if (listLoaiKhu != null && listLoaiKhu.Any())
                                {
                                    <div class="form-group">
                                        <label for="loaiKhu">KTX dành cho Nam/Nữ</label>
                                        <div class="at-select">
                                            <select id="loaiKhu" name="MaLoaiKhu" class="form-control">
                                                <option value="">-- Chọn Loại Khu --</option>
                                                @foreach (var loaikhu in ViewBag.listLoaiKhu)
                                                {
                                                    <option value="@loaikhu.MaLoaiKhu">@loaikhu.TenLoaiKhu</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                }

                                @if (listKhu != null && listKhu.Any())
                                {
                                    <div class="form-group">
                                        <label for="khu">Tên Khu</label>
                                        <div class="at-select">
                                            <select id="khu" name="MaKhu" class="form-control">
                                                <option value="">-- Chọn Khu --</option>
                                                <!-- Options will be dynamically populated by JavaScript -->
                                            </select>
                                        </div>
                                    </div>
                                }

                                @if (listTang != null && listTang.Any())
                                {
                                    <div class="form-group">
                                        <label for="tang">Tầng</label>
                                        <div class="at-select">
                                            <select id="tang" name="MaTang" class="form-control">
                                                <option value="">-- Chọn Tầng --</option>
                                                <!-- Options will be dynamically populated by JavaScript -->
                                            </select>
                                        </div>
                                    </div>
                                }
                            </fieldset>

                            <fieldset class="at-roomform">
                                <legend class="at-formtitle">Loại Phòng</legend>
                                <div class="form-group">
                                    <div class="at-room-radioholder">
                                        @if (listLoaiPhong != null && listLoaiPhong.Any())
                                        {
                                            <span class="at-radio">
                                                @foreach (var loaiPhong in listLoaiPhong)
                                                {
                                                    <input id="at-private-@loaiPhong.MaLoaiPhong" type="radio" name="MaLoaiPhong" value="@loaiPhong.MaLoaiPhong"
                                                           @(loaiPhong == listLoaiPhong.First() ? "checked" : "")>
                                                    <label for="at-private-@loaiPhong.MaLoaiPhong">
                                                        <img src="~/Assets/Student/images/radio-imgs/img-02.jpg" alt="img">
                                                        <span><em>@loaiPhong.TenLoaiPhong</em></span>
                                                    </label>
                                                }
                                            </span>
                                        }
                                    </div>
                                </div>
                                <div class="form-group at-btnarea">
                                    <button type="submit" class="at-btn">Tìm Kiếm</button>
                                </div>
                            </fieldset>
                        }
                        <!-- #endregion Tìm kiếm cơ bản -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Home Slider End -->
<!-- Main Start -->
<main id="at-main" class="at-main at-haslayout">

    <!-- #region Phòng ký túc xá -->
    <section class="at-haslayout at-main-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-12 push-md-0 col-lg-10 push-lg-1 col-xl-8 push-xl-2">
                    <div class="at-sectionhead">
                        <div class="at-sectiontitle">
                            <h2>Phòng Ở Ký Túc Xá</h2>
                            <span>Danh sách phòng trống</span>
                        </div>
                        <div class="at-description">
                            <p>

                            </p>
                        </div>
                    </div>
                </div>

                <!-- #region Danh sách phòng trống -->
                <div class="col-12">
                    <div id="at-featured-sliders" class="at-featured-sliders owl-carousel">
                        @if (listLoaiKhu != null && listLoaiKhu.Any())
                        {
                            foreach (var item in listPhong)
                            {
                                <div class="item">
                                    <div class="at-featured-holder">
                                        <div class="at-featuredslider owl-carousel">
                                            <figure class="item">
                                                <a href="/Student/Phong/ChiTietPhong?iMaPhong=@item.MaPhong">
                                                    <img src="~/Assets/Student/images/featured-img/listing/@item.LoaiPhong.HinhAnh" alt="Hình ảnh phòng">
                                                </a>
                                            </figure>
                                        </div>


                                        <div class="at-featured-content">
                                            <div class="at-featured-head">
                                                <div class="at-featured-tags"><a href="">@item.Tang.Khu.LoaiKhu.TenLoaiKhu</a> </div>
                                                <div class="at-featured-title">
                                                    <h3>
                                                        <a href="/Student/Phong/ChiTietPhong?iMaPhong=@item.MaPhong">@item.TenPhong</a>
                                                        <span>@string.Format("{0:0,0}", item.GiaThue) vnđ</span>
                                                    </h3>
                                                </div>
                                                <ul class="at-room-featured">
                                                    <li><span><i><img src="~/Assets/Student/images/AnhIconDichVu/img-01.jpg" alt="img description"></i> @item.LoaiPhong.TenLoaiPhong</span></li>
                                                    <li><span><i><img src="~/Assets/Student/images/AnhIconDichVu/img-02.jpg" alt="img description"></i> @item.ConTrong Giường trống</span></li>
                                                    <li><span><i><img src="~/Assets/Student/images/AnhIconDichVu/img-tang.png" alt="img description"></i> @item.Tang.TenTang</span></li>
                                                    <li><span><i><img src="~/Assets/Student/images/AnhIconDichVu/img-khu.png" alt="img description"></i> @item.Tang.Khu.TenKhu</span></li>
                                                </ul>
                                            </div>
                                            <div class="at-featured-footer">
                                                <address>Dịch vụ...</address>
                                                <div class="at-share-holder">
                                                    <a href="javascript:void(0);"><i class="ti-more-alt"></i></a>
                                                    <div class="at-share-option">
                                                        <span>Share:</span>
                                                        <ul class="at-socialicons">
                                                            <li class="at-facebook"><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                                                            <li class="at-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                                                            <li class="at-youtube"><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
                                                            <li class="at-instagram"><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                                        </ul>
                                                        <a href="javascript:void(0);">Report</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <!-- #endregion -->

            </div>
        </div>
    </section>
    <!-- #endregion Phòng ký túc xá -->
    <!-- #region Tại sao nên chọn ký túc xá -->
    <section class="at-haslayout at-main-section at-sectionbg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-12 push-md-0 col-lg-10 push-lg-1 col-xl-8 push-xl-2">
                    <div class="at-sectionhead">
                        <div class="at-sectiontitle">
                            <h2>Thông Tin Dịch Vụ Ký Túc Xá Sinh Viên</h2>
                            <span>Thông tin ký túc xá</span>
                        </div>
                        <div class="at-description">
                            <p>
                                Thông tin thống kê ký túc xá sinh viên
                            </p>
                        </div>
                    </div>
                </div>
                <div class="at-category-gallery at-haslayout">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
                        <a href="javascript:void(0);">
                            <figure class="at-category-img">
                                <img src="~/Assets/Student/images/category/img-01.jpg" alt="img description">
                                <figcaption><h3>Số Lượng Sinh Viên</h3><span>100 sv</span></figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
                        <a href="javascript:void(0);">
                            <figure class="at-category-img">
                                <img src="~/Assets/Student/images/category/img-02.jpg" alt="img description">
                                <figcaption><h3>Phòng Nam</h3><span>150 phòng</span></figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
                        <a href="javascript:void(0);">
                            <figure class="at-category-img">
                                <img src="~/Assets/Student/images/category/img-03.jpg" alt="img description">
                                <figcaption><h3>Phòng Nữ</h3><span>50 phòng</span></figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
                        <a href="javascript:void(0);">
                            <figure class="at-category-img">
                                <img src="~/Assets/Student/images/category/img-04.jpg" alt="img description">
                                <figcaption><h3>Dịch Vụ</h3><span>16 dịch vụ</span></figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
                        <a href="javascript:void(0);">
                            <figure class="at-category-img">
                                <img src="~/Assets/Student/images/category/img-05.jpg" alt="img description">
                                <figcaption><h3>Số Giường </h3><span>10000 Giường</span></figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
                        <a href="javascript:void(0);">
                            <figure class="at-category-img">
                                <img src="~/Assets/Student/images/category/img-06.jpg" alt="img description">
                                <figcaption><h3>Đánh Giá</h3><span>60 Đánh Giá</span></figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- #endregion Tại sao nên chọn ký túc xá -->
    <!-- #region Bình luận -->
    <section class="at-haslayout at-main-section at-sectionbg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 push-md-0 col-lg-10 push-lg-1 col-xl-8 push-xl-2">
                    <div class="at-sectionhead">
                        <div class="at-sectiontitle">
                            <h2>Đánh Giá</h2>
                            <span>Feedback Từ Những Cựu Sinh Viên</span>
                        </div>
                        <div class="at-description">
                            <p>
                                Những Đánh giá được các sinh viên ở Ký Túc Xá đánh giá thực tế
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div id="at-testimonials-slider" class="at-testimonials-slider owl-carousel">
                        <div class="at-testimonials-content item">
                            <div class="at-description">
                                <blockquote>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="78" height="28" viewbox="0 0 78 28">
                                        <image id="img1" data-name="“”" width="78" height="28" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAAAcCAMAAAD4MnnTAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAM1BMVEUAAAD4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCsAAABoLGZQAAAAD3RSTlMAZu7dVRF3mUTMqogiuzPnYEgLAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAa1JREFUSMeNVtGWhSAILE3TtPj/v93aBAfonF0euc4wDNC5y/LGGihui4otUlgXEylHItoL5nK9Uwc+bfSE4lt/U02zlUBvHJLqcaTOJPxvIgDwGo+6YiMJ5utBUjVpKGDlFbaV4qSj0dwJqaZfgbqDPtRlgFK0eu9I07g7sjHOelcV9lJYIegeKnpPNYjgsKrX19CdnfRdxaToFJR2TxdBHLjE4swmanWnpwtTyTRu2T5btd6d3juab6AvHmsxdNnTFUPHO3f4pqJh03s3tOtupSKcHFdolm650L1XQMcSUZqvudieQnZfgAvsG9US6DtRLN8w2FsvS7hmViizK7lKBaW16wN7FDo+qQa/rFLBD0u7azZ5LiV+fg6poAdd/LCyYePVgFVIbI09nObpqqHjX+Fi4BL+czgYfDGwlHimH4ezqxR9bzJ4wBS7GeOg07ek1bFymJDsVXfYhlfx4Z1A54JnhU0KW3AV/GTFJRgrmz/0orxT2226mksSuq/AWz2HIa9gGOoj1Q0U1EkTcsNx1mSPgvnkNWOctIJfn+0Zb1Xrfz3AkN2F/fHn4wcR1UH+/Sb0lwAAAABJRU5ErkJggg=="></image>
                                    </svg>
                                    <q>
                                        Ký túc xá rất sạch sẽ và thoáng mát. Phòng ốc rộng rãi, được vệ sinh thường xuyên, tạo cảm giác thoải mái như ở nhà.
                                    </q>
                                </blockquote>
                            </div>
                            <figure>
                                <img src="~/Assets/Student/images/testimonials/img-01.jpg" alt="img description">
                            </figure>
                            <div class="at-testimonials-title">
                                <h3><a href="javascript:void(0);">Nhâm Hữu Nghĩa</a></h3>
                                <span>SV Khoa Công Nghệ Thông Tin</span>
                            </div>
                        </div>
                        <div class="at-testimonials-content item">
                            <div class="at-description">
                                <blockquote>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="78" height="28" viewbox="0 0 78 28">
                                        <image id="img2" data-name="“”" width="78" height="28" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAAAcCAMAAAD4MnnTAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAM1BMVEUAAAD4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCsAAABoLGZQAAAAD3RSTlMAZu7dVRF3mUTMqogiuzPnYEgLAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAa1JREFUSMeNVtGWhSAILE3TtPj/v93aBAfonF0euc4wDNC5y/LGGihui4otUlgXEylHItoL5nK9Uwc+bfSE4lt/U02zlUBvHJLqcaTOJPxvIgDwGo+6YiMJ5utBUjVpKGDlFbaV4qSj0dwJqaZfgbqDPtRlgFK0eu9I07g7sjHOelcV9lJYIegeKnpPNYjgsKrX19CdnfRdxaToFJR2TxdBHLjE4swmanWnpwtTyTRu2T5btd6d3juab6AvHmsxdNnTFUPHO3f4pqJh03s3tOtupSKcHFdolm650L1XQMcSUZqvudieQnZfgAvsG9US6DtRLN8w2FsvS7hmViizK7lKBaW16wN7FDo+qQa/rFLBD0u7azZ5LiV+fg6poAdd/LCyYePVgFVIbI09nObpqqHjX+Fi4BL+czgYfDGwlHimH4ezqxR9bzJ4wBS7GeOg07ek1bFymJDsVXfYhlfx4Z1A54JnhU0KW3AV/GTFJRgrmz/0orxT2226mksSuq/AWz2HIa9gGOoj1Q0U1EkTcsNx1mSPgvnkNWOctIJfn+0Zb1Xrfz3AkN2F/fHn4wcR1UH+/Sb0lwAAAABJRU5ErkJggg=="></image>
                                    </svg>
                                    <q>
                                        Ký túc xá trang bị đầy đủ các tiện ích như wifi mạnh, máy giặt, phòng sinh hoạt chung và bếp nấu ăn. Rất tiện lợi cho sinh viên.
                                    </q>
                                </blockquote>
                            </div>
                            <figure>
                                <img src="~/Assets/Student/images/testimonials/img-02.jpg" alt="img description">
                            </figure>
                            <div class="at-testimonials-title">
                                <h3><a href="javascript:void(0);">Tuấn Trần</a></h3>
                                <span>SV Khoa Công Nghệ Thông Tin</span>
                            </div>
                        </div>
                        <div class="at-testimonials-content item">
                            <div class="at-description">
                                <blockquote>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="78" height="28" viewbox="0 0 78 28">
                                        <image id="img3" data-name="“”" width="78" height="28" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAAAcCAMAAAD4MnnTAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAM1BMVEUAAAD4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCsAAABoLGZQAAAAD3RSTlMAZu7dVRF3mUTMqogiuzPnYEgLAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAa1JREFUSMeNVtGWhSAILE3TtPj/v93aBAfonF0euc4wDNC5y/LGGihui4otUlgXEylHItoL5nK9Uwc+bfSE4lt/U02zlUBvHJLqcaTOJPxvIgDwGo+6YiMJ5utBUjVpKGDlFbaV4qSj0dwJqaZfgbqDPtRlgFK0eu9I07g7sjHOelcV9lJYIegeKnpPNYjgsKrX19CdnfRdxaToFJR2TxdBHLjE4swmanWnpwtTyTRu2T5btd6d3juab6AvHmsxdNnTFUPHO3f4pqJh03s3tOtupSKcHFdolm650L1XQMcSUZqvudieQnZfgAvsG9US6DtRLN8w2FsvS7hmViizK7lKBaW16wN7FDo+qQa/rFLBD0u7azZ5LiV+fg6poAdd/LCyYePVgFVIbI09nObpqqHjX+Fi4BL+czgYfDGwlHimH4ezqxR9bzJ4wBS7GeOg07ek1bFymJDsVXfYhlfx4Z1A54JnhU0KW3AV/GTFJRgrmz/0orxT2226mksSuq/AWz2HIa9gGOoj1Q0U1EkTcsNx1mSPgvnkNWOctIJfn+0Zb1Xrfz3AkN2F/fHn4wcR1UH+/Sb0lwAAAABJRU5ErkJggg=="></image>
                                    </svg>
                                    <q>
                                        An ninh ở đây rất tốt với bảo vệ 24/7 và camera giám sát khắp nơi. Mình cảm thấy rất yên tâm khi ở đây.
                                    </q>
                                </blockquote>
                            </div>
                            <figure>
                                <img src="~/Assets/Student/images/testimonials/img-03.jpg" alt="img description">
                            </figure>
                            <div class="at-testimonials-title">
                                <h3><a href="javascript:void(0);">Nguyễn Văn A</a></h3>
                                <span>SV Khoa Công Nghệ Thực Phẩm</span>
                            </div>
                        </div>
                        <div class="at-testimonials-content item">
                            <div class="at-description">
                                <blockquote>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="78" height="28" viewbox="0 0 78 28">
                                        <image id="img4" data-name="“”" width="78" height="28" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAAAcCAMAAAD4MnnTAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAM1BMVEUAAAD4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCsAAABoLGZQAAAAD3RSTlMAZu7dVRF3mUTMqogiuzPnYEgLAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAa1JREFUSMeNVtGWhSAILE3TtPj/v93aBAfonF0euc4wDNC5y/LGGihui4otUlgXEylHItoL5nK9Uwc+bfSE4lt/U02zlUBvHJLqcaTOJPxvIgDwGo+6YiMJ5utBUjVpKGDlFbaV4qSj0dwJqaZfgbqDPtRlgFK0eu9I07g7sjHOelcV9lJYIegeKnpPNYjgsKrX19CdnfRdxaToFJR2TxdBHLjE4swmanWnpwtTyTRu2T5btd6d3juab6AvHmsxdNnTFUPHO3f4pqJh03s3tOtupSKcHFdolm650L1XQMcSUZqvudieQnZfgAvsG9US6DtRLN8w2FsvS7hmViizK7lKBaW16wN7FDo+qQa/rFLBD0u7azZ5LiV+fg6poAdd/LCyYePVgFVIbI09nObpqqHjX+Fi4BL+czgYfDGwlHimH4ezqxR9bzJ4wBS7GeOg07ek1bFymJDsVXfYhlfx4Z1A54JnhU0KW3AV/GTFJRgrmz/0orxT2226mksSuq/AWz2HIa9gGOoj1Q0U1EkTcsNx1mSPgvnkNWOctIJfn+0Zb1Xrfz3AkN2F/fHn4wcR1UH+/Sb0lwAAAABJRU5ErkJggg=="></image>
                                    </svg>
                                    <q>Các cô chú quản lý ký túc xá rất nhiệt tình và thân thiện. Luôn sẵn sàng giúp đỡ khi cần, tạo cảm giác như một gia đình.</q>
                                </blockquote>
                            </div>
                            <figure>
                                <img src="~/Assets/Student/images/testimonials/img-01.jpg" alt="img description">
                            </figure>
                            <div class="at-testimonials-title">
                                <h3><a href="javascript:void(0);">Nguyễn Thành Nhi</a></h3>
                                <span>SV Khoa Điện</span>
                            </div>
                        </div>
                        <div class="at-testimonials-content item">
                            <div class="at-description">
                                <blockquote>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="78" height="28" viewbox="0 0 78 28">
                                        <image id="img5" data-name="“”" width="78" height="28" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAAAcCAMAAAD4MnnTAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAM1BMVEUAAAD4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCv4tCsAAABoLGZQAAAAD3RSTlMAZu7dVRF3mUTMqogiuzPnYEgLAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAa1JREFUSMeNVtGWhSAILE3TtPj/v93aBAfonF0euc4wDNC5y/LGGihui4otUlgXEylHItoL5nK9Uwc+bfSE4lt/U02zlUBvHJLqcaTOJPxvIgDwGo+6YiMJ5utBUjVpKGDlFbaV4qSj0dwJqaZfgbqDPtRlgFK0eu9I07g7sjHOelcV9lJYIegeKnpPNYjgsKrX19CdnfRdxaToFJR2TxdBHLjE4swmanWnpwtTyTRu2T5btd6d3juab6AvHmsxdNnTFUPHO3f4pqJh03s3tOtupSKcHFdolm650L1XQMcSUZqvudieQnZfgAvsG9US6DtRLN8w2FsvS7hmViizK7lKBaW16wN7FDo+qQa/rFLBD0u7azZ5LiV+fg6poAdd/LCyYePVgFVIbI09nObpqqHjX+Fi4BL+czgYfDGwlHimH4ezqxR9bzJ4wBS7GeOg07ek1bFymJDsVXfYhlfx4Z1A54JnhU0KW3AV/GTFJRgrmz/0orxT2226mksSuq/AWz2HIa9gGOoj1Q0U1EkTcsNx1mSPgvnkNWOctIJfn+0Zb1Xrfz3AkN2F/fHn4wcR1UH+/Sb0lwAAAABJRU5ErkJggg=="></image>
                                    </svg>
                                    <q>
                                        Không gian yên tĩnh, rất phù hợp để học tập và làm việc nhóm. Đặc biệt có phòng học chung đầy đủ bàn ghế và ánh sáng tốt.
                                    </q>
                                </blockquote>
                            </div>
                            <figure>
                                <img src="~/Assets/Student/images/testimonials/img-02.jpg" alt="img description">
                            </figure>
                            <div class="at-testimonials-title">
                                <h3><a href="javascript:void(0);">Trần Thị Phương</a></h3>
                                <span>Sv Khoa Y Dược</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- #endregion Bình luận-->
    <!-- #region Bài Viết -->
    <section class="at-haslayout at-main-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-12 push-md-0 col-lg-10 push-lg-1 col-xl-8 push-xl-2">
                    <div class="at-sectionhead">
                        <div class="at-sectiontitle">
                            <h2>Tin Tức &amp; Sự Kiện</h2>
                            <span>Bài Viết Về KTX</span>
                        </div>
                        <div class="at-description">
                            <p>
                                Các Tin Tức và Sự Kiện liên quan đến ký túc xá sinh viên
                            </p>
                        </div>
                    </div>
                </div>
                <div class="at-articles">
                    <div class="col-12 col-md-6 col-lg-4 float-left">
                        <div class="at-article">
                            <figure class="at-articleimg">
                                <img src="~/Assets/Student/images/articles/clb_ktx.jpg" alt="img description">
                            </figure>
                            <div class="at-article-content">
                                <div class="at-featured-tags"><a href="javascript:void(0);">Sự Kiệnh</a> </div>
                                <div class="at-title">
                                    <h4>Ngày Hội CLB Ký Túc Xá</h4>
                                    <span>11-12-2023</span>
                                </div>
                                <div class="at-description">
                                    <p>Buổi gặp mặt giao lưu văn nghệ với sinh viên ở ký túc xá...<a href="javascript:void(0)">[xem thêm]</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 float-left">
                        <div class="at-article">
                            <figure class="at-articleimg">
                                <img src="~/Assets/Student/images/articles/img-02.jpg" alt="img description">
                            </figure>
                            <div class="at-article-content">
                                <div class="at-featured-tags"><a href="javascript:void(0);">Tin Tức</a> </div>
                                <div class="at-title">
                                    <h4>Kỹ Năng Ở Nhà Tập Thể</h4>
                                    <span>11-12-2024</span>
                                </div>
                                <div class="at-description">
                                    <p>Bạn cần trang bị những gì khi ở cùng với những người bạn?...<a href="javascript:void(0)">[xem thêm]</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 float-left">
                        <div class="at-article">
                            <figure class="at-articleimg">
                                <img src="~/Assets/Student/images/articles/img-03.jpg" alt="img description">
                            </figure>
                            <div class="at-article-content">
                                <div class="at-featured-tags"><a href="javascript:void(0);">Tin Tức</a> </div>
                                <div class="at-title">
                                    <h4>Trái Đất Ngày Càng Thu Hẹp</h4>
                                    <span>11-12-2024</span>
                                </div>
                                <div class="at-description">
                                    <p>Nhà đất trở nên quý hiếm. Bạn nhất thiết phải chọn ở tập thể?...<a href="javascript:void(0)">[xem thêm]</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- #endregion Bài viết-->

</main>
<!-- Main End -->
