@using QuanLyKyTucXa.Models
@model List<HoaDon>

@{
    ViewBag.Title = "Xem Hóa Đơn";
    Layout = "~/Areas/QLKTX/Views/Shared/_LayoutBQL.cshtml";
}

<!-- #region Nội dung chính-->
<div class="page-body">
    <!-- #region Tiêu đề -->
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>
                        Quản Lý Hóa Đơn Tháng @DateTime.Now.Month/@DateTime.Now.Year
                    </h4>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/QLKTX/QLKTX/Index">
                                <svg class="stroke-icon">
                                    <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Trang Chủ </li>
                        <li class="breadcrumb-item active"> Quản Lý Hóa Đơn Tháng @DateTime.Now.Month/@DateTime.Now.Year/li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion Tiêu đề -->
    <!-- #region Nội dung -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                    

                        <div class="list-product" id="LoaiHoaDon-list">
                            <div class="datatable-wrapper">
                                <div class="datatable-top">
                                    <div class="datatable-dropdown">
                                        <label>
                                            <select class="datatable-selector">
                                                <option value="10" selected>10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                                <option value="25">25</option>
                                                <option value="30">30</option>
                                            </select> Dòng trên/Trang
                                        </label>
                                    </div>
                                    <div class="datatable-search">
                                        <input class="datatable-input search" placeholder="Tìm kiếm..." type="search" />
                                    </div>

                                    <div class="list-product-header">
                                            @using (Html.BeginForm("XuatHoaDon", "HoaDon", FormMethod.Post, new { @class = "row g-3 align-items-center" }))
                                            {
                                                <input type="hidden" name="iMaLoaiHoaDon" value="@ViewBag.MaLoaiHoaDon" />
                                                <!-- Tháng/Năm -->
                                                <div class="col-auto">
                                                    <input type="month" id="thangNam" name="ThangNam" class="form-control" required />
                                                </div>
                                                <!-- Nút Xuất Hóa Đơn -->
                                                <div class="col-auto">
                                                    <button type="submit" class="btn btn-primary">
                                                        <i class="fa fa-plus"></i> Xuất hóa đơn
                                                    </button>
                                                </div>
                                            }
                                    </div>
                                </div>
                                <div class="datatable-container">
                                    <table class="table datatable-table" id="project-status">
                                        <thead>
                                            <tr>
                                                <th data-sortable="true" style="width: 10%;">
                                                    <span class="datatable-sorter sort" data-sort="MaHoaDon">
                                                        <span class="f-light f-w-600">Mã HD</span>
                                                    </span>
                                                </th>
                                                <th data-sortable="true" style="width: 10%;">
                                                    <span class="datatable-sorter sort" data-sort="ChuSoDau">
                                                        <span class="f-light f-w-600">Chữ Số Đầu</span>
                                                    </span>
                                                </th>
                                                <th data-sortable="true" style="width: 10%;">
                                                    <span class="datatable-sorter sort" data-sort="ChuSoCuoi">
                                                        <span class="f-light f-w-600">Chữ Số Cuối</span>
                                                    </span>
                                                </th>
                                                <th data-sortable="true" style="width: 10%;">
                                                    <span class="datatable-sorter sort" data-sort="TongSoChu">
                                                        <span class="f-light f-w-600">Tổng Số Chử</span>
                                                    </span>
                                                </th>
                                                <th data-sortable="true" style="width: 10%;">
                                                    <span class="datatable-sorter sort" data-sort="TongTien">
                                                        <span class="f-light f-w-600">Thành Tiền</span>
                                                    </span>
                                                </th>
                                                <th data-sortable="true" style="width: 10%;">
                                                    <span class="datatable-sorter sort" data-sort="Thang">
                                                        <span class="f-light f-w-600">Tháng</span>
                                                    </span>
                                                </th>
                                                <th data-sortable="true" style="width: 10%;">
                                                    <span class="datatable-sorter sort" data-sort="HanCuoiThanhToan">
                                                        <span class="f-light f-w-600">Hạn Thanh Toán</span>
                                                    </span>
                                                </th>
                                                <th data-sortable="true" style="width: 10%;">
                                                    <span class="datatable-sorter sort" data-sort="TenKhu">
                                                        <span class="f-light f-w-600">Phòng</span>
                                                    </span>
                                                </th>
                                                <th data-sortable="true" style="width: 9%;">
                                                    <span class="datatable-sorter sort" data-sort="thaoTac">
                                                        <span class="f-light f-w-600">Thao Tác</span>
                                                    </span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="list">
                                            @if (Model != null && Model.Any())
                                            {
                                                foreach (var item in Model)
                                                {
                                                    <tr data-index="@item.MaHoaDon">
                                                        <td class="MaHoaDon"><p class="f-light">@item.MaHoaDon</p></td>
                                                        <td class="ChuSoDau"><p class="f-light">@item.ChuSoDau</p></td>
                                                        <td class="ChuSoCuoi"><p class="f-light">@item.ChuSoCuoi</p></td>
                                                        <td class="TongSoChu"><p class="f-light">@item.TongSoChu</p></td>
                                                        <td class="TongTien"><p class="f-light">@item.TongTien.ToString("#,##0") vnđ</p></td>
                                                        <td class="Thang"><p class="f-light">@item.Thang.ToString("MM/yyyy")</p></td>
                                                        <td class="HanCuoiThanhToan"><p class="f-light">@item.HanCuoiThanhToan</p></td>

                                                        <td class="TenKhu">
                                                            <p class="f-light">
                                                                @item.MaPhong, @item.Phong.TenPhong, @item.Phong.Tang.TenTang, @item.Phong.Tang.Khu.TenKhu
                                                            </p>
                                                        </td>

                                                        @if (item.TrangThai == false)
                                                        {
                                                            <td class="thaoTac">
                                                                <div class="product-action">
                                                                    <a href="/QLKTX/HoaDon/ThanhToan?iMaHoaDon=@item.MaHoaDon&iMaLoaiHoaDon=@item.DonGia.MaLoaiHoaDon">
                                                                        <i class="fa fa-plus">
                                                                        </i>Xác nhận Thanh Toán
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="9" class="text-center">Không tồn tại hóa đơn tháng @DateTime.Now.Month/@DateTime.Now.Year</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="datatable-bottom">
                                    <nav class="pagination">

                                    </nav>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion Nội dung -->
</div>
<!-- #endregion Nội dung chính -->
<!-- #region Code listjs -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var options = {
            valueNames: ['MaHoaDon', 'ChuSoDau', 'ChuSoCuoi', 'TongSoChu', 'TongTien', 'Thang', 'HanCuoiThanhToan', 'TenKhu'],
            page: 10,
            pagination: true
        };

        var studentList = new List('LoaiHoaDon-list', options);

        function updatePagination() {
            var selector = document.querySelector('.datatable-selector');
            var newPageSize = parseInt(selector.value); // Lấy số dòng mới từ selector

            // Cập nhật số dòng hiển thị mới
            studentList.page = newPageSize;
            studentList.update();
            studentList.search();
        }

        // Bắt sự kiện khi thay đổi số dòng hiển thị
        document.querySelector('.datatable-selector').addEventListener('change', updatePagination);
    });

</script>
<!-- #endregion Code listjs -->
