@using QuanLyKyTucXa.Models
@model HopDong

@{
    ViewBag.Title = "Cập Nhật Hợp Đồng Sinh Viên";
    Layout = "~/Areas/QLKTX/Views/Shared/_LayoutBQL.cshtml";
}

<div class="page-body">
    <!-- #region Tiêu đề -->
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>
                        Cập Nhật Hợp Đồng Thuê
                    </h4>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/Admin/Home/Index">
                                <svg class="stroke-icon">
                                    <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Trang Chủ </li>
                        <li class="breadcrumb-item active">Quản Lý Hợp Đồng</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion Tiêu đề -->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="edit-profile">
            <div class="row">
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Tài Khoản</h4>
                            <div class="card-options">
                                <a class="card-options-collapse" href="#" data-bs-toggle="card-collapse">
                                    <i class="fe fe-chevron-up"></i>
                                </a><a class="card-options-remove" href="#" data-bs-toggle="card-remove">
                                    <i class="fe fe-x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row mb-2">
                                    <div class="profile-title">
                                        <div class="media">
                                            <img class="img-70 rounded-circle" alt="" src="~/Assets/Student/images/AnhSinhVien/@Model.SinhVien.AnhChanDung">
                                            <div class="media-body">
                                                <h5 class="mb-1">@Model.SinhVien.Ho  @Model.SinhVien.Ten</h5>
                                                <p>@(Model.SinhVien.TrangThai ? "Hoạt Động" : "Chưa Phê Duyệt")</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Mã Sinh Viên</label>
                                    <input class="form-control" value="@Model.MaSinhVien" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Họ Tên</label>
                                    <input class="form-control" type="text" value="@Model.SinhVien.Ho @Model.SinhVien.Ten" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Giới Tính</label>
                                    <select id="GioiTinh" name="GioiTinh" class="form-select" required>
                                        <option value="0" @(Model.SinhVien.GioiTinh ? "selected" : "")>Nữ</option>
                                        <option value="1" @(Model.SinhVien.GioiTinh ? "selected" : "")>Nam</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Ngày Sinh</label>
                                    <input type="date" class="form-control form-control-lg" id="NgaySinh" name="NgaySinh" value="@Model.SinhVien.NgaySinh.ToString("yyyy-MM-dd")" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Email</label>
                                    <input class="form-control" value="@Model.SinhVien.Email" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">SDT</label>
                                    <input class="form-control" value="@Model.SinhVien.SDT" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Dân Tộc</label>
                                    <select id="DanToc" name="DanToc" class="form-select" required>
                                        <option value="Kinh" @(Model.SinhVien.DanToc == "Kinh" ? "selected" : "")>Kinh</option>
                                        <option value="Tày" @(Model.SinhVien.DanToc == "Tày" ? "selected" : "")>Tày</option>
                                        <option value="Thái" @(Model.SinhVien.DanToc == "Thái" ? "selected" : "")>Thái</option>
                                        <option value="Mường" @(Model.SinhVien.DanToc == "Mường" ? "selected" : "")>Mường</option>
                                        <option value="Khmer" @(Model.SinhVien.DanToc == "Khmer" ? "selected" : "")>Khmer</option>
                                        <option value="Hoa" @(Model.SinhVien.DanToc == "Hoa" ? "selected" : "")>Hoa</option>
                                        <option value="Nùng" @(Model.SinhVien.DanToc == "Nùng" ? "selected" : "")>Nùng</option>
                                        <option value="H'Mông" @(Model.SinhVien.DanToc == "H'Mông" ? "selected" : "")>H'Mông</option>
                                        <option value="Dao" @(Model.SinhVien.DanToc == "Dao" ? "selected" : "")>Dao</option>
                                        <option value="Gia Rai" @(Model.SinhVien.DanToc == "Gia Rai" ? "selected" : "")>Gia Rai</option>
                                        <option value="Ê Đê" @(Model.SinhVien.DanToc == "Ê Đê" ? "selected" : "")>Ê Đê</option>
                                        <option value="Ba Na" @(Model.SinhVien.DanToc == "Ba Na" ? "selected" : "")>Ba Na</option>
                                        <option value="Xơ Đăng" @(Model.SinhVien.DanToc == "Xơ Đăng" ? "selected" : "")>Xơ Đăng</option>
                                        <option value="Sán Chay" @(Model.SinhVien.DanToc == "Sán Chay" ? "selected" : "")>Sán Chay</option>
                                        <option value="Cơ Ho" @(Model.SinhVien.DanToc == "Cơ Ho" ? "selected" : "")>Cơ Ho</option>
                                        <option value="Chăm" @(Model.SinhVien.DanToc == "Chăm" ? "selected" : "")>Chăm</option>
                                        <option value="Sán Dìu" @(Model.SinhVien.DanToc == "Sán Dìu" ? "selected" : "")>Sán Dìu</option>
                                        <option value="Hrê" @(Model.SinhVien.DanToc == "Hrê" ? "selected" : "")>Hrê</option>
                                        <option value="Ra Glai" @(Model.SinhVien.DanToc == "Ra Glai" ? "selected" : "")>Ra Glai</option>
                                        <option value="Mnông" @(Model.SinhVien.DanToc == "Mnông" ? "selected" : "")>Mnông</option>
                                        <option value="Thổ" @(Model.SinhVien.DanToc == "Thổ" ? "selected" : "")>Thổ</option>
                                        <option value="Stiêng" @(Model.SinhVien.DanToc == "Stiêng" ? "selected" : "")>Stiêng</option>
                                        <option value="Khơ Mú" @(Model.SinhVien.DanToc == "Khơ Mú" ? "selected" : "")>Khơ Mú</option>
                                        <option value="Bru - Vân Kiều" @(Model.SinhVien.DanToc == "Bru - Vân Kiều" ? "selected" : "")>Bru - Vân Kiều</option>
                                        <option value="Tà Ôi" @(Model.SinhVien.DanToc == "Tà Ôi" ? "selected" : "")>Tà Ôi</option>
                                        <option value="Giáy" @(Model.SinhVien.DanToc == "Giáy" ? "selected" : "")>Giáy</option>
                                        <option value="Cơ Tu" @(Model.SinhVien.DanToc == "Cơ Tu" ? "selected" : "")>Cơ Tu</option>
                                        <option value="Gié Triêng" @(Model.SinhVien.DanToc == "Gié Triêng" ? "selected" : "")>Gié Triêng</option>
                                        <option value="Mạ" @(Model.SinhVien.DanToc == "Mạ" ? "selected" : "")>Mạ</option>
                                        <option value="Kháng" @(Model.SinhVien.DanToc == "Kháng" ? "selected" : "")>Kháng</option>
                                        <option value="Co" @(Model.SinhVien.DanToc == "Co" ? "selected" : "")>Co</option>
                                        <option value="Chơ Ro" @(Model.SinhVien.DanToc == "Chơ Ro" ? "selected" : "")>Chơ Ro</option>
                                        <option value="Hà Nhì" @(Model.SinhVien.DanToc == "Hà Nhì" ? "selected" : "")>Hà Nhì</option>
                                        <option value="Chu Ru" @(Model.SinhVien.DanToc == "Chu Ru" ? "selected" : "")>Chu Ru</option>
                                        <option value="Lào" @(Model.SinhVien.DanToc == "Lào" ? "selected" : "")>Lào</option>
                                        <option value="La Chí" @(Model.SinhVien.DanToc == "La Chí" ? "selected" : "")>La Chí</option>
                                        <option value="La Ha" @(Model.SinhVien.DanToc == "La Ha" ? "selected" : "")>La Ha</option>
                                        <option value="Phù Lá" @(Model.SinhVien.DanToc == "Phù Lá" ? "selected" : "")>Phù Lá</option>
                                        <option value="La Hủ" @(Model.SinhVien.DanToc == "La Hủ" ? "selected" : "")>La Hủ</option>
                                        <option value="Lự" @(Model.SinhVien.DanToc == "Lự" ? "selected" : "")>Lự</option>
                                        <option value="Lô Lô" @(Model.SinhVien.DanToc == "Lô Lô" ? "selected" : "")>Lô Lô</option>
                                        <option value="Chứt" @(Model.SinhVien.DanToc == "Chứt" ? "selected" : "")>Chứt</option>
                                        <option value="Mảng" @(Model.SinhVien.DanToc == "Mảng" ? "selected" : "")>Mảng</option>
                                        <option value="Pà Thẻn" @(Model.SinhVien.DanToc == "Pà Thẻn" ? "selected" : "")>Pà Thẻn</option>
                                        <option value="Cờ Lao" @(Model.SinhVien.DanToc == "Cờ Lao" ? "selected" : "")>Cờ Lao</option>
                                        <option value="Bố Y" @(Model.SinhVien.DanToc == "Bố Y" ? "selected" : "")>Bố Y</option>
                                        <option value="Cống" @(Model.SinhVien.DanToc == "Cống" ? "selected" : "")>Cống</option>
                                        <option value="Ngái" @(Model.SinhVien.DanToc == "Ngái" ? "selected" : "")>Ngái</option>
                                        <option value="Si La" @(Model.SinhVien.DanToc == "Si La" ? "selected" : "")>Si La</option>
                                        <option value="Pu Péo" @(Model.SinhVien.DanToc == "Pu Péo" ? "selected" : "")>Pu Péo</option>
                                        <option value="Brâu" @(Model.SinhVien.DanToc == "Brâu" ? "selected" : "")>Brâu</option>
                                        <option value="Ơ Đu" @(Model.SinhVien.DanToc == "Ơ Đu" ? "selected" : "")>Ơ Đu</option>
                                        <option value="Rơ Măm" @(Model.SinhVien.DanToc == "Rơ Măm" ? "selected" : "")>Rơ Măm</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Điểm Ưu Tiên</label>
                                    <input class="form-control" value="@Model.SinhVien.DiemUuTien" readonly>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <form class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Thông Tin Hợp Đồng</h4>
                            <div class="card-options">
                                <a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4 col-md-2">
                                    <div class="mb-2">
                                        <label class="form-label">Mã Hợp Đồng</label>
                                        <input class="form-control" type="text" name="Ho" value="@Model.MaHopDong">
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <div class="mb-2">
                                        <label class="form-label">Tên Hợp Đồng</label>
                                        <input class="form-control" type="text" name="Ten" value="@Model.TenHopDong">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="mb-3">
                                        <label class="form-label">Ngày Bắt Đầu ở<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" name="Ten" value="@Model.ThoiHanDangKy.NgayBatDau">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="mb-3">
                                        <label class="form-label">Ngày Kết Thúc Ở</label>
                                        <input class="form-control" type="text" name="Ten" value="@Model.ThoiHanDangKy.NgayKetThuc">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Chổ Ở</label>
                                        <input class="form-control" type="text" name="Ten" value="@Model.Giuong.TenGiuong, @Model.Giuong.Phong.TenPhong, @Model.Giuong.Phong.Tang.TenTang, @Model.Giuong.Phong.Tang.Khu.TenKhu, @Model.Giuong.Phong.Tang.Khu.LoaiKhu.TenLoaiKhu">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive add-project custom-scrollbar">
                            <table class="table card-table table-vcenter text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Mã dịch vụ</th>
                                        <th>Tên Dịch Vụ</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Giuong.Phong.DichVuPhong.Count > 0)
                                    {
                                        foreach (var item in Model.Giuong.Phong.DichVuPhong)
                                        {
                                            <tr>
                                                <td><a class="text-inherit" href="#">@item.MaDichVu</a></td>
                                                <td>@item.DichVu.TenDichVu</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer text-end">
                            <a href="/QLKTX/HopDong/DuyetHopDong?iMaHopDong=@Model.MaHopDong" class="btn btn-primary">Duyệt</a>
                            <a href="/QLKTX/HopDong/Xoa?iMaHopDong=@Model.MaHopDong" class="btn btn-danger">Xóa Hợp Đồng</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>
